<html>

<head>

</head>

<body style="font-family: sans-serif">

    <h1 style="background-color: forestgreen; color: white; text-align: center; padding-top: 6px; padding-bottom: 6px; font-size:32px;">- nugttah -
        <!-- <span style="font-size:22px;">Election Monitoring</span> -->
    </h1>
    <div style="text-align: center;margin-bottom: 10px;">
        <h1 style="font-weight: 700; color: #606060; margin-top: 30px; font-size: 27px;">New password request </h1>
        <h3 style="font-weight: 400; color: #6d6d6d; font-size: 16px;">user name
            <span style="color: #5f5e5e">
                <b>
                    <%=to%>
                </b>
            </span>
        </h3>
        <h3 style="font-weight: 400; color: #6d6d6d; font-size: 16px;">
            <a href="<%=passwordResetUrl%>">click here</a> to reset your password</h3>
    </div>
</body>

</html>