<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<style>
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div style="padding-top: 70px"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3>
                            <i class="fa fa-lock fa-4x"></i>
                        </h3>
                        <h2 class="text-center">Forgot Password?</h2>
                        <p>You can reset your password here.</p>
                        <div class="panel-body">

                            <form id="register-form" role="form" autocomplete="off" class="form" method="post">

                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-key color-blue"></i>
                                        </span>
                                        <input id="password" name="password" placeholder="new Password" class="form-control" type="password" required onkeyup='check();'>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-key color-blue"></i>
                                        </span>
                                        <input id="confirm_password" name="confirm_password" placeholder="confirm Password" class="form-control" type="password"
                                            required onkeyup='check();'>
                                    </div>
                                    <span id='message'></span>
                                </div>
                                <div class="form-group">
                                    <input id="token" name="token" value="<%= params %>" type="hidden">
                                </div>
                                <div class="form-group">
                                    <input id="btn1" name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                                </div>

                                <!--<p><input type="hidden" class="hide" name="token" id="token" value=""></p>-->
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">

    let check = function () {
        if (document.getElementById('password').value === document.getElementById('confirm_password').value) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'matching';
            $("#btn1").prop("disabled", false);
        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'not matching';
            $("#btn1").prop("disabled", true);
        }
    }

    // var url_string = "http://192.168.1.21:4000/reset/password/";
    // var c = url.token.get('token');
    // console.log(c)
    // console.log('------------------------------------token------------------------',c)

</script>